@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap');

.App {
  text-align: center;
  font-family: "Amatic SC", "Hachi Maru Pop";
  font-size:2em;
  color: white;
}

* {
  box-sizing: border-box;
}

.moving-background {
  background-image: url("./assets/wallpaper.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 40% 40%;
}

