@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

.App {
  text-align: center;
  font-family: "Share Tech Mono";
  font-size:1.5em;
  color: white;
}

* {
  box-sizing: border-box;
}

.moving-background {
  background-image: url("./assets/wallpaper.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 40% 40%;
}

